.App {
  text-align: center;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-height: 100%;
}

section {
  flex: 1 1 auto;
  padding: 0 0.5rem;
}

section.grid {
  flex: 2 1 auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

section.penalties {
  padding: 0.25rem;
}

section {
  flex: 1 1 auto;
}

.RowContainer {
  display: flex;
  flex-direction: column;
}

.Row {
  color: #ffffff;
  padding: 0.5rem;
  margin: 0.2rem;
}

.NumberWrapper {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.NumberBox {
  background-color: rgb(255, 255, 255, 0.85);
  height: 10vh;
  line-height: 9vh;
  cursor: pointer;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  font-weight: bold;
  text-align: center;
  font-size: 3.5vw;
  position: relative;
  flex-basis: calc(8.333333%);
  box-sizing: border-box;
}

.NumberBox.locked {
  background-color: rgb(255, 255, 255, 0.6);
}

.Bonus {
  flex-basis: calc(6%);
}

.Row.red {
  background-color: #d73f4c;
}

.red .NumberWrapper {
  background-color: #943037;
}

.red .NumberBox {
  border-color: #943037;
  color: #d73f4c;
}

.red .NumberBox.checked {
  background-color: #d73f4c;
}

.Row.yellow {
  background-color: #fee54b;
  color: #fee54b;
}

.yellow .NumberWrapper {
  background-color: #d8a352;
}

.yellow .NumberBox {
  border-color: #d8a352;
}

.yellow .NumberBox.checked {
  background-color: #fee54b;
  color: #ffffff;
}

.Row.green {
  background-color: #419f5b;
  color: #419f5b;
}

.green .NumberWrapper {
  background-color: #3f7c53;
}

.green .NumberBox {
  border-color: #3f7c53;
}

.green .NumberBox.checked {
  background-color: #3f7c53;
  color: #ffffff;
}

.Row.blue {
  background-color: #394a8b;
  color: #394a8b;
}

.blue .NumberWrapper {
  background-color: #2d2e4b;
}

.blue .NumberBox {
  border-color: #2d2e4b;
}

.blue .NumberBox.checked {
  background-color: #394a8b;
}

.NumberBox.checked {
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}

.NumberBox.checked .content {
  text-decoration: line-through;
}

.Row .Bonus {
  border-radius: 3rem;
}

section.penalties {
  display: flex;
  justify-content: flex-end;
}

.ResetButton {
  padding: 0.25rem 2rem 0 0;
}

section.penalties svg {
  width: 1.5rem;
  height: 1.5rem;
}

.Penalties {
  display: flex;
  justify-content: flex-end;
}

.PenaltyBox {
  border: 0.2rem solid #999999;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 3vw;
  color: #454545;
  line-height: 1.5rem;
}

section.score {
  background-color: #bdbdbd;
}

.ScoreContainer {
  display: flex;
  /* justify-content: center; */
  flex-flow: row nowrap;
}

.ScoreContainer .symbol {
  line-height: 3.5rem;
  text-align: center;
  font-size: 3vw;
}

.ScoreBox {
  background-color: #ffffff;
  border: 0.2rem solid #000000;
  border-radius: 0.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  flex-grow: 1;
  line-height: 2.5rem;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  width: 10%;
}

.ScoreBox.red {
  border-color: #d73f4c;
}

.ScoreBox.yellow {
  border-color: #fee54b;
}

.ScoreBox.green {
  border-color: #419f5b;
}

.ScoreBox.blue {
  border-color: #394a8b;
}

.ScoreBox.totalScore {
  background-color: #ffffff;
  flex-grow: 2;
  width: 15%;
}
